@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
    font-size: 1vw;
}


body{
    background-image: url(../intro-component-with-signup-form-master/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
}

.content{
    width: fit-content;
    display: flex;
    flex-direction: row;
    text-align: center; 
    margin: 10%;
    gap: 15em;
}


.columnright{
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    
}

.columnleft{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 4em;
    font-size: 2vh;
}



.small-box{
    border: 0.1em solid hsl(248, 32%, 49%);
    border-radius: 0.6em;
    background-color: hsl(248, 32%, 49%);
    color: white;
    font-size: 2vh;
    box-shadow: 5px 10px 10px -4px rgb(99, 99, 99);
}

.big-box{
    width: 100%;
    border: 0.1em solid hsl(0, 0%, 100%);
    border-radius: 0.6em;
    background-color: hsl(0, 0%, 100%);
    color: dark;
    padding: 2.5em;
    font-size: 1.5vh;
    box-shadow: 5px 12px 10px -4px rgb(99, 99, 99);

}

.agreeing{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #666;

}

input{
    width: 100%;
    padding: 0.5em;
    margin: 1em 0 1em 0;
    font-size: 1.6vh;

}

.button{
    display: inline-block;
    font-size: 2vh;
    width: 100%;
    background-color:hsl(154, 59%, 51%);
    border-radius: 0.5em;
    padding: 1em;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    box-shadow: 0 0.2rem #999;
}
 



.button:hover {background-color: hsl(154, 58%, 40%)}

.button:active {
    background-color: hsl(154, 58%, 40%);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h1{
    color:white;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: left;
}

h2{
    font-size: 1em;
    color:white;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

p span{
    font-size: 2vh;
}
p{
    font-size: 2vh;
}
p strong{
    font-size: 2vh;
}

@media only screen and (max-width: 900px) {

    .content {
        flex-direction: row;
        justify-content: space-between;
        display: inline-block;
        box-sizing: border-box;
    }

    .columnleft{
        font-size: 2.2em;
        width: 100%;
        margin-top: 0;
        margin-left: 1em;
        margin-bottom: 4em;


    }

    .big-box{
        margin-top: 1em;
 
    }

}
